{{#partial "title" }}
   Raindrop's Batman photos <!!-- I've changed!-->
{{/partial}}
{{#partial "content"}}
    <h1>Favorite Batman Photos</h1>
    <p><a href='/form' >P.S. Press this link to fill my form.</a></p>
    <ul>
        <li><img src='/images/batman.jpg' alt='A photo of batman.'/></li>
        <li><img src='/images/batman2.jpg' alt='A second photo of batman.'/></li>
        <li><img src='/images/batman3.jpg' alt='A third photo of batman.'/></li>
        <li><img src='/images/batman4.jpg' alt='A fourth photo of batman.'/></li>
        <li><img src='/images/batman5.jpg' alt='A fifth photo of batman.'/></li>
    </ul>
{{/partial}}

{{> layout.hbs}}